<div class="speakers_call">
  <ul>
	<li>
	  <%= render "speakers/"+@my_hash[1] %>
	</li>
	<li>
	  <%= render "speakers/"+@my_hash[2] %>
	</li>
	<li>
	  <%= render "speakers/"+@my_hash[3] %>
	</li>
	<li>
	  <%= render "speakers/"+@my_hash[4] %>
	</li>
	<li>
	  <%= render "speakers/"+@my_hash[5] %>
	</li>
	<li>
	  <%= render "speakers/"+@my_hash[6] %>
	</li>
	<li>
	  <%= render "speakers/"+@my_hash[7] %>
	</li>
  </ul>
</div>
<script language="javascript">
  $(document).ready(function() {
	$('.right_banner').nivoSlider({
	  effect:'fade', //Specify sets like: 'fold,fade,sliceDown'
	  //slices:15,
	  animSpeed:500, //Slide transition speed
	  pauseTime:5000,
	  startSlide:0, //Set starting Slide (0 index)
	  directionNav:false, //Next & Prev
	  directionNavHide:true, //Only show on hover
	  controlNav:false
	});
	$('.speakers_call').vTicker();
  });
</script>