<div class="content_left">
  <div class="innercontent_area">
	<h2>Session by - <%= @user.name %></h2>
	<%= form_for(@submission, :url => {:action => "update"}, :html => { :class => "standard" }) do |f| %>

	  <fieldset class="clearfix">
		<%= render 'error_messages' %>

                <p class="text">
		  <%= f.label :title, "Title *", :class => "required" %>
		  <%= f.text_field :title,:class => "text_custom" %>
		</p>

		<p class="text">
		  <%= f.label :type, "Type *", :class => "required" %>
		  <%= f.select :submission_type, { "Presentation" => "Presentation", "Discussion or Open Space" => "Discussion", "Workshop" => "Workshop", "Any Other" => "Any Other" }, :class => "select_menu" %>
		</p>

                 <p class="text">
		  <%= f.label :speaker_bio, "Speaker Bio *", :class => "required" %>
		  <%= f.text_area(:speaker_bio, {:title => 'Please write a few lines about yourself.',:class => "text_area_custom"}) %>
		</p>

		 <p class="text">
			<%= f.label :type, "Audience *", :class => "required" %>
			<%= f.select :audience_type, { "Beginner" => "BEGINNER", "Experienced" => "EXPERIENCED", "Experts" => "EXPERTS" }, :class => "select_menu" %>
		  </p>

		<p class="text">
		  <%= f.label :abstract, "Abstract *", :class => "required" %>
		  <%= f.text_area(:abstract, {:title => 'Please explain in few words what the session is about.',:class => "text_area_custom"}) %>
		</p>

                <p class="text">
		  <%= f.label :take_away, "Take Away for Audience *", :class => "required" %>
		  <%= f.text_area(:take_away, {:title => 'Please explain in few words what the audience can gain from the session.',:class => "text_area_custom"}) %>
		</p>

		<p class="text">
		  <%= f.label :comments, "Comments", :class => "required" %>
		  <%= f.text_area :comments,:class => "text_area_custom" %>
		</p>

		<p class="text">
		  <%= f.label :duration, "Approx. duration (in minutes) *", :class => "required" %>
		   <%= f.select :duration, { "15 minutes" => "15 minutes", "30 - 45 minutes" => "30 - 45 minutes", "1 hour" => "1 hour", " more than 1 hour" => "more than 1 hour" } %>
		</p>

		<p class="submit">
		  <label for="submit">&nbsp;</label>
		  <%= f.submit "Update", :class => "btn_submit" %>
		</p>
	  </fieldset>
	
	<% end %>
  </div>
</div>