<div class="content_full">
  <img src="/images/thanku.png" width="109" height="110" alt="thank you" />
  <h1>for your interest in AgileNCR 2011</h1><br />
  <br />
  <div class="clr"></div>
  <table width="100%" border="0" cellspacing="1" cellpadding="1">
	<tr class="heading">
	  <td>Sr No.</td>
	  <td>Submission Title</td>
	  <td>Submission Type</td>
	  <td>Submission Status</td>
	</tr>
	<% count = 1 %>
	<% @submissions.each do |submission| %>
	  <tr class="<%=  count % 2 == 0 ? "alternate_row" : "white_row"%>">
		<td><%= count %></td>
		<td><%= submission.title %></td>
		<td><%= submission.submission_type %></td>
		<td>
		  <%= submission.submission_status %>
		  <% if submission.submission_status != "WITHDRAWN" %>
			<%=  link_to "(withdraw?)", :controller => "submissions", :action => "withdraw", :id => submission.id %>
		  <% end %>
		</td>
	  </tr>
	  <% count = count + 1 %>
	<%  end %>
  </table>
</div>
<br/>
<br/>
<br/>
<br/>
<script language="javascript">
  $(document).ready(function() {
	$("a[href*=/submission/withdraw]").click(function() {
	  answer = confirm("Are you sure you want to withdraw the session ?");
	  return answer;
	});
  });
</script>