<%= link_to "", root_path, :class => "logo" %>

<div id="main-menu">
  <% if current_page == "home-index" %>
	<span id="first-child" class="current">HOME</span>
  <% else %>
	<%= link_to "HOME", root_path %>
  <% end %>

  <% if current_page == "pages-about" %>
	<span class="current">ABOUT</span>
  <% else %>
	<%= link_to "ABOUT", :controller => "pages", :action => "about" %>
  <% end %>

  <% if current_page == "pages-contact_us" %>
	<span class="current">CONTACT US</span>
  <% else %>
	<%= link_to "CONTACT US", :controller => "pages", :action => "contact_us" %>
  <% end %>

  <%  if (session[:current_user_id]) %>
	<%=  link_to "SIGN OUT", signout_path %>
  <%  else %>
	<% if current_page == "sessions-new" %>
	  <span class="current">SIGN IN</span>
	<% else %>
	  <%=  link_to "SIGN IN", signin_path %>
	<% end %>
  <%  end %>

</div>

