<%= link_to "", root_path, :class => "logo" %>

<div id="main-menu">
  <% if current_page == "home-index" %>
	<span id="first-child" class="current">HOME</span>
  <% else %>
	<%= link_to "HOME", root_path %>
  <% end %>

  <% if current_page == "pages-about" %>
	<span class="current">ABOUT</span>
  <% else %>
	<%= link_to "ABOUT", :controller => "pages", :action => "about" %>
  <% end %>

  <% if current_page == "pages-register" %>
	<span class="current">REGISTER</span>
  <% else %>
	<%= link_to "REGISTER", {:controller => "pages", :action => "register"}, {:style => "font-weight:bold; color:#FF9C00"} %>
  <% end %>

  <% if current_page == "pages-venue" %>
	<span class="current">VENUE</span>
  <% else %>
	<%= link_to "VENUE", :controller => "pages", :action => "venue" %>
  <% end %>
	
  <% if current_page == "pages-agenda" %>
	<span class="current">AGENDA</span>
  <% else %>
	<%= link_to "AGENDA", :controller => "pages", :action => "agenda" %>
  <% end %>



</div>

