<!DOCTYPE html>
<html>
  <head>
	<title>AgileNCR 2011 : The biggest Agile event in India - 25 & 26 Feb, New Delhi</title>
	<%= stylesheet_link_tag :all %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<%= yield :head %>
	<%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
  </head>

  <body>
	<div class="header">
	  <%= render "layouts/header" %>
	</div>
	
	<div class="content">
	  <%= yield %>
	</div>

	<div class="clr"></div>

	<div class="footer">
	  <%= render "layouts/footer" %>
	</div>
  </body>
</html>
